.navBar{
    width: 100%;
    background-color: #efefef;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar h2{
    font-size: 18px;
    color: #444;
}
.navBar span{
    margin-left: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
    background-color: #d0c7f7;
    color: #6D28D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}